.jumbotron
  .container
    .row
      .col-xs-12.text-center
        p.invited You're invited to a
        h1 git-together
        p a free workshop for beginners to get hands-on experience with 
          a(href='http://github.com', target='_blank') GitHub
          |  &amp; 
          a(href='http://git-scm.com', target='_blank') Git
          | !
        p.no-margin
          i March 26, 2016, 1 - 5 PM
.container
  .row
    .col-xs-12
      h1.text-center Sign up!
      tito-widget(event="code-park/2016-03-26-github-workshop")
.container
  .row
    .col-md-4
      h2 What we'll do
      h4
        i.fa.fa-github
        |  GitHub
      p Get your first repo onto GitHub following along with 
        a(href='https://guides.github.com/activities/hello-world/', target='_blank') GitHub's Hello World
        | .  No coding required!
      h4
        i.icon-git-colored
        | Git
      p Dig in with the commandline as we learn about using git to get a project from our computers onto GitHub.

    .divider.visible-sm-block.visible-xs-block

    .col-md-4
      h2 Who's coming?
      p Learners and mentors from Houston's diverse tech meet ups including: 
        a(href='http://www.meetup.com/houstonr/', target='_blank') R User Group
        | , 
        a(href='http://www.meetup.com/Girls-Coding-Club/', target='_blank') Girls' Coding Club
        | , 
        a(href='http://www.meetup.com/Houston-Data-Visualization-Meetup/', target='_blank') Data Viz
        | , and much more!
      p Together, we'll share how we use code in so many different exciting ways while learning Git and GitHub.
      p All levels of experience welcome!

    .divider.visible-sm-block.visible-xs-block

    .col-md-4
      h2 Why?
      h4
        i.fa.fa-github
        |  GitHub
      p GitHub is a great tool for collaborating on and contributing to open source projects.  It's 
        strong the 
        | place to go to to find code online for everything from serious scientific code to web frameworks to all kinds of cool things!
      h4
        i.icon-git-colored
        | Git
      p Git helps track the history of your project as you try different versions and work on different features with others!  It gives you the power to have parallel universes (of code) and time travel (through the history of your code) to change it.