.jumbotron
  .container
    .row
      .col-lg-4.col-lg-offset-1.col-md-4.hidden-sm.hidden-xs
        img.img-responsive(src='https://octodex.github.com/images/femalecodertocat.png')
      .col-lg-6.col-md-8.col-xs-12
        p.invited You're invited to a
        h1 git-together
        p a free workshop for beginners to get hands-on experience with 
          a(href='http://github.com', target='_blank') GitHub
          |  &amp; 
          a(href='http://git-scm.com', target='_blank') Git
          | !
        p.no-margin
          i February 2nd &amp; 3rd 2016, 6:30 - 9 PM 
        p at 
          a(href='http://eqheights.com/', target='_blank') EQ Heights
        p
          a.btn.btn-primary.btn-lg(role='button') Sign Up »
          a.btn.btn-primary.btn-lg.btn-link(role='button') I'd like to mentor »

.container
  .row
    .col-md-4
      h2 What we'll do
      h4
        i.fa.fa-github
        |  GitHub 
        small
          i Feb
            span.hidden-md ruary
            |  2nd, Tue
            span.hidden-md sday
            | , 6:30 - 9 PM
      p Get your first repo onto GitHub following along with 
        a(href='https://guides.github.com/activities/hello-world/', target='_blank') GitHub's Hello World
        | .  No coding required!
      h4
        i.icon-git-colored
        | Git 
        small
          i Feb
            span.hidden-md ruary
            |  3rd, Wed
            span.hidden-md nesday
            | , 6:30 - 9 PM
      p Dig in with the commandline as we learn about using git to get a project from our computers onto GitHub.

    .divider.visible-sm-block.visible-xs-block

    .col-md-4
      h2 Who's coming?
      p Learners and mentors from Houston's diverse tech meet ups including: 
        a(href='http://www.meetup.com/houstonr/', target='_blank') R User Group
        | , 
        a(href='http://www.meetup.com/Girls-Coding-Club/', target='_blank') Girls' Coding Club
        | , 
        a(href='http://www.meetup.com/Houston-Data-Visualization-Meetup/', target='_blank') Data Viz
        | , and much more!
      p Together, we'll share how we use code in so many different exciting ways while learning Git and GitHub.

    .divider.visible-sm-block.visible-xs-block

    .col-md-4
      h2 Why?
      h4
        i.fa.fa-github
        |  GitHub
      p GitHub is a great tool for collaborating on and contributing to open source projects.  It's 
        strong the 
        | place to go to to find code online for everything from __ to __ and __.
      h4
        i.icon-git-colored
        | Git
      p Git helps track the history of your project as you try different versions and work on different features with others!  It's like ___, but for code!
