doctype html
html(lang='#{ site.language }')
  != partial('../_partials/head')

body
  != partial('../_partials/navbar')

  .container
    article#documentation.row
      aside.col-md-3
        != partial('../_partials/navdoc')
      section.col-md-7
        != yield 
      

  != partial('../_partials/footer')

  if table_of_content
    != partial('../_partials/toc')



