doctype html
html(lang='#{ site.language }')
  != partial('../_partials/head')

body
  != partial('../_partials/navbar')

  .container
    .page-header
      if current.source == 'index'
        h1.text-center HBBP blog
          br
          small An example template of creating a blog with Bootstrap.
      else
        h1.text-center= title
          br
          small #{date} • #{author}

    .row
      .col-md-2
      .col-md-8
        != yield
        br
        if disqus_account
          != partial('../_partials/disqus')

  != partial('../_partials/footer')