//
// Main LESS file
// --------------------------------------------------------

// Paths
@bower: "../../../bower_components";

// Twitter Bootstrap <http://getbootstrap.com/>
// A copy oh the Bootstrap main file to personalize the framework easily.
// Default: all selected except glyphicons (replaced with Font-Awesome)
@import "@{bower}/bootstrap/less/bootstrap.less";

// Bootswatch themes <http://bootswatch.com/>
@import "@{bower}/bootswatch/readable/bootswatch.less";
@import "@{bower}/bootswatch/readable/variables.less";

// Font-Awesome <http://fontawesome.io/>
@import "@{bower}/font-awesome/less/font-awesome.less";
@import (less) "@{bower}/openwebicons/css/openwebicons-bootstrap.min.css";

// HighlightJS <http://highlightjs.org/>
// @import (less) "@{bower}/highlightjs/styles/github.css";

// Your custom CSS or LESS files
@import "_variables.less";
@import "_mixins.less";
@import "_base.less";
@import "_utilities.less";

[class^="role-"] {
  display: none;
}

[data-role="mentor"]{
  .mentor[class^="role-"] {
    display: block;
  }
}

[data-role="learner"]{
  .learner[class^="role-"] {
    display: block;
  }
}

.form-group.required > label {
  position: relative;
  &::after {
    color: @gray-light;
    position: absolute;
    font-weight: 100;
    font-size: 0.75em;
    line-height: 2em;
    right: 14px;
  }
}

@media (min-width: @screen-sm-min) {
  .form-group.required > label::after {
    bottom: -1em;
  }
}

.form-group.required > label::after {
  content: '(required)';
}

.form-group.valid > label::after {
  content: "\2713 ";
  color: rgba(95, 204, 95, 1);
}

.form-group.not-email > label::after {
  content: '(please enter an email)';
  color: @gray-light;
}

[data-mode='submitting'] {
  > div {
    opacity: 50%;
  }
}

[data-mode='complete'] {

}

// tito.io overrides
.tito-wrapper {
  padding-top: 0;
}
.tito-ticket-name-wrapper {
  font-size: 24px;
}
.tito-ticket-description {
  margin-top: 0.2rem;
  font-size: 0.7em;
}
.tito-ticket-name {
  margin-bottom: 0;
  margin-top: 6px;
  line-height: 1.25em;
}
.tito-submit {
  .btn;
  .btn-primary;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1em;
}
// .tito-badge-link {
//   display: inline;
// }
