.container
  .row
    form#sign-up.form-horizontal.col-md-8.col-sm-12
      .row
        .col-md-12
          h1 Sign Up
        .form-group.required.col-xs-12
          label.control-label.col-sm-4.col-xs-12(for='name') My name is
          .col-sm-8
            input.form-control#name(type='text', name='name', placeholder='Jane', required)
        .form-group.required.col-xs-12
          label.control-label.col-sm-4.col-xs-12(for='role') I'm attending as a
          .col-sm-8#role
            label.radio-inline
              input(type='radio', name='role', value='learner', required)
              | Learner
            label.radio-inline
              input(type='radio', name='role', value='mentor', required)
              | Mentor
        .form-group.required.col-xs-12
          label.control-label.col-sm-4.col-xs-12(for='email') You can email me at
          .col-sm-8
            input.form-control#email(type='email', name='email', placeholder='jane@doe.com', required)
        .form-group.col-xs-12
          label.control-label.col-sm-4.col-xs-12(for='github') My GitHub username is
          .col-sm-8
            input.form-control#github(type='text', name='github', placeholder='janedoer')
        .form-group.col-xs-12
          .col-sm-8.col-sm-offset-4
            button.btn.btn-primary(type='submit') Check me in!
    .col-md-4.col-sm-12
      h1 We're coming!