.container
  .row
    .col-md-12
      h1 Sign Up
      form
        .form-group
          label I'm attending as a
          label.radio-inline
            input(type='radio', value='learner')
            | Learner
          label.radio-inline
            input(type='radio', value='mentor')
            | Mentor